body
{
    background-color:#F2F2F2;
}

button
{
    background-color:transparent;
    border:none;
    font-family: "Segoe UI";
    font-size: 1.1em;
}

#main
{
    width: 300px;
}

#title-and-icons
{
    padding-bottom:10px;
}

#title
{
    font-family: "Segoe UI Semibold";
    font-size:1.5em;
}
.bottom-buttons
{
    padding-top:15px;
    padding-bottom:10px;
    background: none;
}
#delete
{
    float:right;
}
#share
{
    float:right;
    padding-right:10px;
}
#view
{
    margin-left: -5px;
}

#view:hover {
    cursor: pointer;
}

#launch-vr
{
    padding-left:0;
}
#content
{
    display:none;
    background-color:lightgray;
    padding: 10%;
    text-align: center;
}
#screenshot{
    display:none;
}
.content-text
{
    font-family: "Segoe UI";
    font-size:1.1em;
    color:gray;
}

.content-text-small
{
    font-size: 1em;
}

#right-click-icon
{
    height:100px;
    width:100px;
    padding: 10px 0 10px 0;
    filter:opacity(20%);
}
#new-tab-icon
{
    padding-right: 10px;
    height:30px;
    width:30px;
    float:left;
}
#web-vr-icon
{
    padding-top:5px;
    padding-right:10px;
    height:20px;
    width:30px;
    float:left;
}