html {
	font-family: "Segoe UI", sans-serif;
	text-align: center;
}

h1 {
	font-family: "Segoe UI Semibold"; sans-serif;
	font-weight: normal;
	padding-top: 100px;
}
p {
	font-size:15px;
	color: #555;
}

.maintitle {
	opacity: 0;
	transition: 4s;
}
.title-activate {
	opacity: 1;
}

.logo {
	opacity: 0;
	position: relative;
	top: -20px;
	transform:rotate(-20deg);
	transition: 1s;
}
.logo-activate {
	opacity: 1;
	transform:rotate(0deg);
	top: 0px;
}

.tagline {
	opacity: 0;
	transition: 1s;
}
.tagline-activate {
	opacity: 1;
}

.content {
	opacity: 0;
	transition: 1s;
}
.content-activate {
	opacity: 1;
}

.getstarted {
	opacity: 0;
	margin-top: 100px;
	font-size: 15px;
	/*background-color: #e8e8e8;*/
	border: none;
	padding: 8px 25px;
	color: #555;
	transition: 1s;
	animation: float 5s ease-in-out infinite;
}
@keyframes float {
	0% {
		transform: translateY(5px);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(5px);
	}
}
.getstarted-activate {
	opacity: 1;
}
.getstarted:hover {
	background-color: #d3d3d3;
}



.displaynone {
	display: none;
}